*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#ffdad5,#fff7f9);
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contactleft{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    color: #a363aa;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-input{
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contactleft textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-input:focus{
    border: 2px solid #ff994f;
}
.contact-input::placeholder{
    color: #a9a9a9;
    font-family: cursive;

}
.contactleft button{
    display: flex;
    align-items: center;
    padding: 10px 20px ;
    color: white;
    font-size: 16px;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}
.contactleft button img{
    height: 15px;
}
.contact-right img{
    width: 500px;
}
@media(max-width:800px){
    .contact-input{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}
.btnn:hover{
    background-color: red;
    color: #666;
}
.error{
    color: red;
    position: relative;
    left: 30px;
}